$header-background: #00001E;
$final-hero-background: #101010;



%flex-centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($flex, $justify, $algin, $t-align, $f-direction, $f-wrap) {
    display: $flex;
    justify-content: $justify;
    align-items: $algin;
    text-align: $t-align;
    flex-direction: $f-direction;
    flex-wrap: $f-wrap;
}


header {
    background-color: $header-background;
    position: sticky;
    top: 0;
    @extend %flex-centrado;
    padding: 0px;
    z-index: 20;

}

.hero {
    color: #ffffff;
    width: 100%;
    height: 80vh;
    @extend %flex-centrado;
    position: relative;
    background-image: url("../imgs/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -3;
}
.final-hero {
    width: 100%;
    background-color: $final-hero-background;
    @include flex (flex, center, center, center, none, wrap);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
footer div {
    @include flex (flex, center, center, center, none, none);
}
.definicion {
    background-color: #36216E;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    @include flex (flex, center, center, center, column, none);
    flex-direction: column;
}
.reformas {
    font-family: 'Montserrat', sans-serif;
    @include flex (flex, center, center, none, column, none);
    
}
.noticias .titulo {
    background-color: #36216E;
    color: #ffffff;
    @include flex (flex, center, center, none, column, none);
}
.videos div{
    @include flex (flex, center, center, center, none, none);
}
.card-container {
    @include flex (flex, center, center, none, none, wrap);
    padding: 20px;
}
.centrado-noticias {
    @extend %flex-centrado;    
}
.sobre-nosotros .titulo {
    
    width: 100%;
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../imgs/patria.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: #ffffff;
    @include flex (flex, center, center, none, column, none);
}
.content {
    font-family: 'Montserrat', sans-serif;
    @include flex (flex, center, center, none, column, none);
}

.ser-fiscal .titulo {
    
    width: 100%;
    height: 45vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../imgs/milei-dos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    color: #ffffff;
    @include flex (flex, center, center, none, column, none);
}
.explicacion {
    font-family: 'Montserrat', sans-serif;
    @include flex (flex, center, center, none, column, none);
}
.registro h2 {
    @include flex (flex, center, center, center, column, wrap);
    font-size: 30px;
    padding-top: 20px;
}
.inputs {
    @include flex (flex, center, center, center, row, wrap);
    padding: 20px;
}